@CHARSET "UTF-8";
.lblLogin{
	
		width: 70px !important; 
		display: inline-block;
	}
	#test-form h1{
		color: rgb(20, 100, 170);
	}
	#loginOkBtn{
		border: none;
		width: 100px;
		background-color: rgba(20, 100, 170, 0.7);
		padding: 5px;
		color: #fff;
	}
	.join{
		color: rgb(20, 100, 170);
		text-decoration: none;
	}